body{
   padding: 20px;
    background-color:#9ECFD4;
}
h2{
    font-size: 40px;
    width:auto;
    height: 50px;
    text-decoration-line: underline;
    
   }
table {
  width: 100%;
  border-collapse: collapse;
  border-color:#16476A;
  
}
#title{
    border: 4px solid #16476A;
    border-radius: 4px;
    width: 20%;
    height: 20px;
}
#priority{
    border-radius: 4px;
     border: 4px solid #16476A;
    width: 10%;
    height: 25px;
    margin: 20px;
}
th, td {
  border: 1px solid #16476A;
  padding: 8px;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  margin: 8px;
  padding: 5px 10px;
  border-radius:7px;
  border: 4px solid #16476A;
  color:#000508;
}
@media(max-width:768px) {
    table{
        width:50%
        
    }
    
}